.MenuItem {
    text-align: center;
    width: 256px;
    height: 60px;
    font-size: 32px;
    color: #FFFFFF;    
}
.MenuItem-name {
    text-align: center;
    height: 52px;
    font-size: 32px;
    color: #FFFFFF;    
}
.MenuItem-line-enabled {
    width: 256px;
    height: 8px;
    background: #F85344ff;    
}
.MenuItem-line-disabled {
    width: 256px;
    height: 8px;
    background: #F8534400;    
    transition: 0.3s;
}
.MenuItem:hover .MenuItem-line-disabled {
    width: 256px;
    height: 8px;
    background: #Ffffff88;    
}

