.MenuItem {
    text-align: center;
    width: 256px;
    height: 60px;
    font-size: 32px;
    color: var(--white);   
    text-decoration: none !important; 
}
.MenuItem-link {
    text-decoration: none !important;
}
.MenuItem-name {
    text-align: center;
    height: 52px;
    font-size: 32px;
    color: var(--white);  
    text-decoration: none !important;  
}
.MenuItem-line-enabled {
    width: 256px;
    height: 8px;
    background: var(--accent);    
}
.MenuItem-line-disabled {
    width: 256px;
    height: 8px;
    background: var(--transparent);    
    transition: var(--animation-duration);
}
.MenuItem:hover .MenuItem-line-disabled {
    width: 256px;
    height: 8px;
    background: var(--white-disabled);    
}
