@import "./../colors.css";

.Header-background {
    text-align: center;
    background-color: var(--primary);
}
.Header-content {
    text-align: center;
    width: 70%;
    display: flex;
    margin: 0 auto;
}

.Header-logo {
  height: 192px;
  width: 192px;
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}


.Header-titles {
    height: 192px;
    text-align: start;
    color: var(--white);
    margin-top: 16px
}
.Header-title {
    height: 72px;
    font-family: 'Russo One';
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px var(--shadow);
    font-size: 92px;
    font-weight: 500;
}
.Header-subtitle {
    height: 84px;
    line-height: 36px;
    max-width: 100%;
    font-size: 32px;
    margin-top: 60px;
    font-weight: 500;
}

  