.Job {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    background: #ededed;
    box-shadow: 4px 4px 4px #00000040;
    border-radius: 32px;
    font-size: 18px;
    text-align: left;
}
.Job-title {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Russo One'
}
.Job-subtitle-top {
    font-size: 24px;
    margin-top: 32px;
}
.Job-subtitle {
    font-size: 24px;
}
.Job-hbox {
    display: flex;
}
.Job-enumeration {
    max-width: 50%;
    margin-top: 32px;
}
.Job-enumeration-full {
    max-width: 100%;
    margin-top: 32px;
}
.Job-enumeration-title {
    font-weight: bold;
    font-size: 24px;
}