.Office {
    background-color: #00A28F;
    color: #ffffff;
}

.Office-title {
    padding-top: 32px;
    font-size: 48px;
    font-family: 'Russo One';

}

.Office-hbox {
    padding-top: 32px;
    max-width: 1312px;
    display: flex;
    margin: 0 auto;
}

.Office-left {
    width: 50%;
    font-size: 44px;
    text-align: right;
    padding-right: 32px;
}

.Office-text-top {

}

.Office-text-bottom {
    margin-top: 8px;
    margin-bottom: 44px;
}


.Office-map {
    width: 50%;
    height: 405px;
    background: #ffffff;
    border-radius: 32px;
}
