.Menu {
    display: flex;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-end;
}
