.Slider {
    max-width: 1376px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.Slider-hbox {
    display: flex;
    justify-content: space-between;
}

.Slider-arrow {
    align-self: center;
    width: 32px;
    height: 64px;
    top: 50%;
}

.Slider-dots-box {
    display: flex;
    justify-content: center;
}

.Slider-dot-unactive {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 16px;
    background-color: #CECECE;
    opacity: 1;
}
.Slider-dot-active {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 16px;
    background-color: #F85344;
    opacity: 0.75;
}
